.modal {
  & div {
    overflow: visible;
  }

  .commonBG {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &>img {
      width: 375px;
    }

    .info {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: 92px;
      width: 260px;

      .reward {
        color: #7E2C20;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 113px;
        text-align: center;
      }

      .btn {
        position: relative;
        width: 260px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        color: #FE3858;
        font-size: 24px;
        font-weight: 600;
        background: linear-gradient(#FFE7B4, #FFCC86);
        animation: breathe 2.5s infinite;

        @keyframes breathe {
          0% {
            transform: scale(1);
          }

          50% {
            transform: scale(1.08);
          }

          100% {
            transform: scale(1);
          }
        }

        &:after {
          content: '';
          position: absolute;
          width: 251px;
          height: 51px;
          border: 1px solid #F3C17D;
          top: 50%;
          left: 50%;
          border-radius: 50px;
          transform: translate(-50%, -50%);
        }
      }
    }

  }
  
  :global {
    .adm-center-popup-wrap {
      max-width: 375px;
    }
    .adm-modal-content {
      max-height: fit-content;
    }
  }
}
