.paperBox {
  position: relative;
  .paper {
    background: center / 100% url("assets/paper.webp");
    // width: 100%; // 宽度等于innerWidth - 滚动条宽度，所以鼠标和canvas没有对上
    width: 100vw;
    cursor: text; // todo
  }
  .btn {
    cursor: pointer;
    user-select: none;
    font-size: 10px;
    height: 20px;
    line-height: 20px;
  }
  
  .colorSelect option:nth-of-type(1) {
    background: black;
  }
  
  .colorSelect option:nth-of-type(2) {
    background: blue;
  }
  
  .colorSelect option:nth-of-type(3) {
    background: red;
  }
  
  .colorSelect option:nth-of-type(4) {
    background: green;
  }
  
  .colorSelect option:nth-of-type(5) {
    background: yellow;
  }
  
  .colorSelect option:nth-of-type(6) {
    background: gray;
  }

  .optionsBox {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}