img {
  /* width: 375px;
  height: 250px; */
}
.title {
  text-align: center;
}

div.testcss {
  color: rgb(var(--grey-9-rgb));
}

.btn {
  width: 100px;
  margin: 0 auto;  
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px;
  text-align: center;
  color: rgb(var(--dsw-primary-standard-rgb));
}
