.title {
  text-align: center;
}
p.paragraph {
  color: rgb(var(--grey-9-rgb));
  width: 350px;
  margin: 0 auto;
  font-size: 12px;
  line-height: 1.3;
  border: 1px solid rgb(var(--grey-3-rgb));
  padding: 10px;
  border-radius: 2px;
}

.btn {
  width: 100px;
  margin: 0 auto 50px;
}

.footer {
  width: 100%;
  padding: 5px;
  text-align: center;
  color: rgb(var(--light-primary-2-rgb));
  background: rgba(var(--dsw-primary-standard-rgb), 0.7);
  font-size: 9px;
}
